@media screen and (min-width:768px) {
  /* ===== QUIZZES SECTION ===== */

  /* cards list */

  .mob-rating-text {
    display: none;
  }

  .desk-rating-text {
    display: block;
    line-height: 1;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: var(--main-color-hover)
    }
  }

  .rating-star-icon {
    fill: var(--accent-icon-color)
  }

  .rating-stars-item:last-child {
    .rating-star-icon {
      fill: var(--secondary-icon-color)
    }
  }

  .mob-moderator-picture {
    display: none;
  }

  .desk-moderator-picture {
    display: block;
  }

  .moderate-status-text {
    &.not-moderated {
      margin-bottom: 34px;
    }
  }

  /* ===== FOOTER ===== */

  .footer-list {
    justify-content: center;
    gap: 12px;
  }
}

@media screen and (min-width:1200px) {
  /* ===== HEADER ===== */

  .mob-header-buttons {
    display: none;
  }

  .desk-create-logo-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .mob-logo {
    display: none;
  }

  .desk-logo,
  .desk-nav {
    display: block;
  }

  .desk-nav-list {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .desk-nav-link {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: var(--additional-text-color);
    padding: 18px 0;
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--secondary-color-hover);
    }
  }

  /* ===== QUIZZES SECTION ===== */

  .quizzes-section {
    background-color: var(--main-bg-color);
    padding-bottom: 68px;
    padding-left: 264px;
  }

  .quizzes-title-button-container {
    margin-bottom: 18px;
  }

  .quizzes-title {
    font-size: 22px;
  }

  .quizzes-table-view-list {
    display: flex;
    gap: 16px;

    &.hidden {
      display: none;
    }
  }

  .quizzes-table-view-icon {
    transition: fill var(--transition);

    .quizzes-table-view-button:hover &,
    .quizzes-table-view-button:focus &,
    .quizzes-table-view-button.active & {
      fill: var(--accent-icon-color);
    }

    &.table-icon {
      fill: var(--main-icon-color);
      stroke: none;
    }

    &.cards-icon {
      fill: var(--main-icon-color);
    }
  }

  .quizzes-sort-button {
    display: none;
  }

  .filter-button-views-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    &.hidden {
      display: none;
    }
  }

  .quizzes-filters-list {
    display: flex;
    align-items: center;
    gap: 24px;


    &.hidden {
      display: none;
    }
  }

  .quizzes-filters-item {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }

  .quizzes-filters-text {
    color: var(--additional-text-color);

    &.table {
      color: var(--main-text-color);
    }
  }

  .quizzes-filters-icon {
    fill: var(--accent-icon-color)
  }

  .quizzes-cards-view-list {
    display: flex;
  }


  /* cards list */

  .quizzes-item {
    min-width: 396px;
  }

  .quizzes-item-title {
    max-width: 254px;
  }

  .quizzes-item-icon-button {
    gap: 8px;
    transition: all var(--transition);

    span {
      display: inline;
    }

    &:hover,
    &:focus {
      border-color: var(--main-color-hover);
      color: var(--main-color-hover);
    }
  }

  .quizzes-item-icon-button.comment::after {
    top: 12px;
    left: 24px;
  }

  .quizzes-item-icon-button.disable {
    color: var(--secondary-text-color);
    border-color: var(-main-border-color);
    cursor: not-allowed;

    &:hover,
    &:focus {
      border-color: var(--main-border-color);
      color: var(--secondary-text-color);
    }
  }

  .quizzes-item-icon-button.disable .quizzes-item-icon {
    fill: var(--main-icon-color)
  }

  .quizzes-item-icon-button.disable.comment::after {
    display: none;
  }

  .quizzes-item-icon-button.disable:hover .quizzes-item-icon,
  .quizzes-item-icon-button.disable:focus .quizzes-item-icon {
    fill: var(--main-icon-color)
  }

  .quizzes-item-start-button {
    max-width: 140px;
  }

  /* ===== FOOTER ===== */
  .footer {
    display: none;
  }

  /* ===== MOBILE MODERATOR MENU ===== */

  .backdrop {
    position: static;
    background: none;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    width: auto;
    height: auto;
    z-index: auto;
  }

  .modal-moderator-menu {
    position: fixed;
    transform: none;
    max-width: none;
    width: 100%;
    max-width: 56px;
    max-width: 240px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 88px 0 16px;
  }

  .modal-moderator-close-button {
    display: none;
  }

  .aside-item-link {
    max-width: 226px;
  }

  .exit {
    display: none;
  }

  .profile {
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      max-width: 208px;
      top: 0;
      left: 16px;
      height: 0.5px;
      background-color: var(--main-icon-color);
    }

    &::after {
      display: none;
    }
  }

  .minimize-button {
    gap: 8px;
    margin-left: auto;
    padding-right: 16px;
    display: flex;
    color: var(--secondary-text-color);
    position: relative;
    margin-bottom: 8px;
    transition: color var(--transition);

    &::before {
      position: absolute;
      content: '';
      left: -144px;
      top: 6px;
      height: 1px;
      width: 128px;
      background-color: var(--secondary-text-color);
      transition: color var(--transition);
    }

    &:hover,
    &:focus {
      color: var(--main-color-hover);
    }
  }

  .minimize-icon {
    fill: var(--main-icon-color);
    transition: fill var(--transition);

    .minimize-button:hover &,
    .minimize-button:focus & {
      fill: var(--main-color-hover);
    }
  }

  .desk-exit {
    display: flex;
  }
}

@media screen and (min-width:1920px) {
  /* ===== HEADER ===== */

  .desk-nav-list {
    gap: 160px;
  }

  /* ===== QUIZZES SECTION ===== */

  .table-view-btn {
    display: block;
  }

  .quizzes-cards-view-list {
    gap: 16px;
  }

  .quizzes-filters-item {
    padding: 16px 0;
  }

  /* table list */

  .quizzes-list-table {
    display: table;
    border-radius: 6px;
    height: auto;
    background-color: #fff;
    table-layout: fixed;
    width: 100%;
    min-width: 1632px;
    border-collapse: collapse;

    &.hidden {
      display: none;
    }
  }

  .quizzes-filters-item {
    &.table-header {
      padding: 16px 0;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(1),
  td:nth-child(1) {
    width: 240px;
    padding-left: 8px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(2),
  td:nth-child(2) {
    width: 70px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(3),
  td:nth-child(3) {
    width: 50px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(4),
  td:nth-child(4) {
    width: 68px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(5),
  td:nth-child(5) {
    width: 75px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(6),
  td:nth-child(6) {
    width: 68px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(7),
  td:nth-child(7) {
    width: 78px;
  }

  .quizzes-list-table .quizzes-filters-item:nth-child(8),
  td:nth-child(8) {
    width: 144px;
    padding-right: 8px;
  }

  .table-head-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .quizzes-filters-text {
    text-align: center;

    &.table {
      color: var(--main-text-color);
    }
  }

  .table-tr {
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);

    &:nth-child(odd) {
      background-color: var(--odd-row-bg-color);
    }
  }

  .table-row {
    display: table-cell;
    vertical-align: middle;
  }

  .quizzes-item-card-img {
    &.table {
      width: 40px;
      height: 24px;
    }
  }

  .quizzes-item-icon-button {
    &.table {
      padding: 6px;
      width: 24px;
      height: 24px;
    }
  }

  .table-row-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .quizzes-item-title {
    &.table {
      max-width: 324px;
    }
  }

  .quizzes-item-text {
    &.table {
      max-width: 152px;
    }
  }

  .moderate-status-text.table {
    &.not-moderated {
      margin-bottom: 0;
    }
  }

  .table-moderator-td {
    padding: 16px 0;
  }

  .table-moderator-button-td {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .quizzes-item-icon-button.comment.button-table {
    padding: 8px;
    min-width: 156px
  }

  .quizzes-item-icon-button.comment::after {
    top: 7px;
    left: 16px;
  }

  .quizzes-item-start-button.button-table {
    padding: 8px;
    min-width: 124px;
  }

  .table-footer-td {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
  }

  .footer-td-text {
    font-size: 12px;
    color: var(--secondary-text-color);
    max-width: 50px;
  }

  .footer-td-number-icon-container {
    padding: 8px;
    border: 1px solid var(--main-border-color);
    border-radius: 6px;
    width: 100%;
    max-width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table-footer-right {
    text-align: right;
    padding-right: 16px;
  }

  .table-footer-icons-list {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .table-footer-right .table-footer-icons-list {
    display: inline-flex;
    gap: 8px;
  }

  .double-arrow-left {
    rotate: 180deg;
    opacity: 0.4;
  }

  .quizzes-filters-icon {
    fill: var(--accent-icon-color)
  }

  .mono-arrow-left {
    opacity: 0.4;
  }

  .table-footer-pagination-list {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .table-footer-pagination-item {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition);

    &:hover,
    &:focus,
    &.active {
      border-color: #d2d4d8;
    }
  }
}